{
    "presets": [
      "react-app"
    ],
    "plugins": [
        [
            "import", {
                "libraryName": "antd", "style": "css"    
            }
        ],
        [
            "react-css-modules", {
                "exclude": "node_modules",
                "generateScopedName": "[name]-[local]-[hash:base64:6]",
                "filetypes": {
                    ".less": {
                      "syntax": "postcss-less",
                      "plugins": ["postcss-nested"]
                    }
                  }
            } 
        ]
    ]
}